<div class="side">
  <table>
  <tr>
    <td><%= link_to "Home", store_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Products", products_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Contact Us", "#" %></td>
  </tr>
  <tr>
    <td><%= link_to "Your Cart", "#" %></td>
  </tr>
  </table>
</div>
